MENU TITLE Workstation Menu

LABEL Main Menu
      MENU LABEL Main Menu
      KERNEL vesamenu.c32
      APPEND pxelinux.cfg/default

{% for key, value in workstations.iteritems() %}
LABEL {{ key }}
      KERNEL 7/vmlinuz
      APPEND initrd=7/initrd.img ip=dhcp ksdevice lang= inst.repo={{ inst_repo }} ks={{ value.kickstart_url }}
{% endfor %}
